// Colours
$black: #000000 !default;
$blue-very-light: #d4e2f5 !default;
$blue-light: #336699 !default;
$blue-medium: #008bb0 !default;
$blue-dark: #002a5c !default;
$plum-deep: #68235F !default;
$purple-deep: #6C1960 !default;
$gray-light: #cecfcb !default;
$gray-medium: #999999 !default;
$gray-dark: #666666 !default;
$gray-very-dark: #343434 !default;
$green-very-light: #dae5cd !default;
$green-light: #99cc99 !default;
$green-medium: #339933 !default;
$green-deep-forest: #1F3D0C !default;
$green-deep-hunter: #2A4B2F !default;
$gold-very-light: #FAFAD2 !default;
$gold-light: #ffcc33 !default;
$gold-medium: #ffe498 !default;
$tan: #D2B48C !default;
$white: #ffffff !default;

// Spacing
$section-width: 960px;
$margin: 1rem !default;
$padding: 1rem !default;

// Class names
$es: '__' !default; // Element separator
$ms: '--' !default; // Modifier separator
$header: 'header' !default;
$nav: 'nav' !default;
$section: 'section' !default;
$news: 'news' !default;
$highlights: 'highlights' !default;
$follow: 'follow' !default;
$footer: 'footer' !default;
$search: 'search' !default;

// CSS variables
// Convert Hex values to RGBA if needed
@function hex-to-rgb( $hex ) {
    @return red( $hex ), green( $hex ), blue( $hex );
}
:root {
    --black: #{ $black };
    --black--rgb: #{ hex-to-rgb( $black ) };
    --blue-very-light: #{ $blue-very-light };
    --blue-light: #{ $blue-light };
    --blue-light--rgb: #{ hex-to-rgb( $blue-light ) };
    --blue-medium: #{ $blue-medium };
    --blue-medium--rgb: #{ hex-to-rgb( $blue-medium ) };
    --blue-dark: #{ $blue-dark };
    --blue-dark--rgb: #{ hex-to-rgb( $blue-dark ) };
    --plum-deep: #{ $plum-deep };
    --purple-deep: #{ $purple-deep };
    --gray-light: #{ $gray-light };
    --gray-medium: #{ $gray-medium };
    --gray-dark: #{ $gray-dark };
    --gray-very-dark: #{ $gray-very-dark };
    --green-very-light: #{ $green-very-light };
    --green-light: #{ $green-light };
    --green-medium: #{ $green-medium };
    --green-deep-forest: #{ $green-deep-forest };
    --green-deep-hunter: #{ $green-deep-hunter };
    --green-deep-hunter--rgb: #{ hex-to-rgb( $green-deep-hunter ) };
    --gold-very-light: #{ $gold-very-light };
    --gold-light: #{ $gold-light };
    --gold-medium: #{ $gold-medium };
    --tan: #{ $tan };
    --white--rgb: #{ hex-to-rgb( $white ) };
    --white: #{ $white };
    --margin: #{ $margin };
    --padding: #{ $padding };
}

// Typography
$font-family: Arial, Helvetica, Verdana, sans-serif !default;
