// Colours
$black: #000000 !default;
$gray: #f1f1f1 !default;
$green: #29520e !default;
$green-dark: #1F3D0C !default;
$brown: #ffb600 !default;
$brown-light: #f9e109 !default;
$white: #ffffff !default;

// Spacing
$section-width: 960px;
$margin: 1rem !default;
$padding: 1rem !default;

// CSS variables
// Convert Hex values to RGBA if needed
@function hex-to-rgb( $hex ) {
    @return red( $hex ), green( $hex ), blue( $hex );
}
:root {
    --black: #{ $black };
    --black--rgb: #{ hex-to-rgb( $black ) };
    --gray: #{ $gray };
    --gray--rgb: #{ hex-to-rgb( $gray ) };
    --green: #{ $green };
    --green--rgb: #{ hex-to-rgb( $green ) };
    --green-dark: #{ $green-dark };
    --green-dark--rgb: #{ hex-to-rgb( $green-dark ) };
    --brown: #{ $brown };
    --brown-light: #{ $brown-light };
    --brown--rgb: #{ hex-to-rgb( $brown ) };
    --white: #{ $white };
    --white--rgb: #{ hex-to-rgb( $white ) };
    --margin: #{ $margin };
    --padding: #{ $padding };
}

// Typography
$font-family: Arial, Helvetica, Verdana, sans-serif !default;
