// Intialization
@import '_variables';
@import '_mixins';

html,
body {
    background-color: var(--white);
}

body {
    color: var(--color2-dark);
    font-family: $font-family;
}

h1,
h1.title,
h2,
h3,
h4,
h5,
.comment-author .fn,
h6 {
    color: var(--color2);
    font-family: $font-family;
    letter-spacing: normal;
}

h5 {
    font-size: 1.2rem;
}

a {
    @include transition;
}

.button {
    letter-spacing: normal;
}

.header-top-bar {
    background-color: var(--color3);
}

.top-bar-field,
.top-bar-field i.fa,
.top-bar-social-icons a i.fa {
    color: var(--color2);
}

.navigation-bar {
    @include transition;

    padding: $padding/2 $padding;

    .row {
        align-items: flex-start;
    }

    &.fixto-fixed {
        @include background-color-rgba(
            var(--white--rgb), 0.9
        );
    }
}

a.text-logo {
    @include background-color-rgba(
        var(--color1--rgb), .75
    );
    @include box-shadow-rgba(
        0px,
        0px,
        3px,
        0px,
        var(--color3--rgb), 0.8
    );
    @include text-shadow-rgba(
        0px,
        0px,
        3px,
        var(--color1--rgb), 0.8
    );

    border-radius: 5px;
    color: var(--color2-dark);
    font-size: 1.8rem;
    line-height: 1;
    padding: $padding/2 $padding*2;

    &:visited,
    &:hover {
        @extend .text-logo;
    }

    &:hover {
        @include box-shadow-rgba(
            0px,
            0px,
            3px,
            0px,
            var(--black--rgb), 0.8
        );
        @include text-shadow-rgba(
            0px,
            0px,
            3px,
            var(--black--rgb), 0.8
        );

        background-color: var(--color1);
        color: var(--color1);
    }

    .fixto-fixed & {
        color: var(--color2);

        &:not(:hover) {
            @include box-shadow-rgba(
                0px,
                0px,
                3px,
                0px,
                var(--color2--rgb), 0.75
            );

            background-color: transparent;
            color: var(--color2);
            text-shadow: none;
        }
        
        &:visited,
        &:hover {
            @extend .text-logo;
        }
        
        &:hover {
            @include text-shadow-rgba(
                0px,
                0px,
                3px,
                var(--color2-dark--rgb), 0.8
            );

            color: var(--color1);
        }
    }
}

ul.dropdown-menu {
    align-items: flex-end;
    justify-content: flex-end;

    li {
        padding: 0;
        
        > a {
            color: var(--color2-dark);
            font-size: initial;
            letter-spacing: normal;
            line-height: 1;
            margin-bottom: $margin;
            margin-left: $margin*2;
            // padding: $padding;
            text-transform: initial;
        }

        &:hover > a {
            color: var(--color2);
        }
            
        .sub-menu {
            background-color: var(--color2);

            li {
                > a {
                    color: var(--white);
                    margin: 0;
                }

                &:hover > a {
                    color: var(--color3);
                }
            }
        }

        &.contact,
        &.facebook,
        &.twitter,
        &.instagram {
            a {
                font-size: 0;
                
                &:before {
                    font-family: FontAwesome;
                    font-size: 2rem;
                }
            }
        }

        &.contact a {
            font-size: initial;

            &:before {
                content: "\f0e0";
                padding-right: $padding/2;
            }
        }

        &.facebook a:before {
            content: "\f230";
        }

        &.twitter a:before {
            content: "\f081";
        }

        &.instagram a:before {
            content: "\f16d";
        }
    }
    
    // Home page
    &.active-line-bottom > li:not(.current-menu-item):not(.current_page_item),
    &.default > li:not(.current-menu-item):not(.current_page_item) {
        &:hover > a {
            /* @include box-shadow-rgba(
                0px,
                0px,
                3px,
                0px,
                var(--black--rgb), 0.8
            ); */
            /* @include text-shadow-rgba(
                0px,
                0px,
                3px,
                var(--black--rgb), 0.8
            ); */
    
            // background-color: var(--color1);
            color: var(--color2);

            .fixto-fixed & {
                /* @include box-shadow-rgba(
                    0px,
                    0px,
                    3px,
                    0px,
                    var(--black--rgb), 0.8
                ); */
                /* @include text-shadow-rgba(
                    0px,
                    0px,
                    3px,
                    var(--black--rgb), 0.8
                ); */
        
                // background-color: var(--color1);
                color: var(--color2);
            }
        }
        
        > a {
            /* @include background-color-rgba(
                var(--color1--rgb), .75
            ); */
            /* @include box-shadow-rgba(
                0px,
                0px,
                3px,
                0px,
                var(--color3--rgb), 0.75
            ); */
            /* @include text-shadow-rgba(
                0px,
                0px,
                0px,
                var(--color1--rgb), 0.8
            ); */
        
            // border-radius: 5px;
            color: var(--color2-dark);
            // margin-bottom: $margin;
            // margin-left: $margin*2;
            // padding: $padding/2 $padding*2;

            .fixto-fixed & {
                /* @include box-shadow-rgba(
                    0px,
                    0px,
                    3px,
                    0px,
                    var(--color2--rgb), 0.75
                ); */
                
                // background-color: transparent;
                // color: var(--color2);
                // text-shadow: none;
            }
        }
    }
}

// Other pages
ul.dropdown-menu.simple-menu-items > .current_page_item > a {
    color: var(--color2);
}

.header-homepage:not(.header-slide) {
    .background-overlay,
    &.color-overlay::before {
        opacity: 0.35 !important;
    }

    &.color-overlay::before {
        background-color: var(--color2) !important;
    }
}

.header-content .align-holder {
    @include background-color-rgba(
        var(--white--rgb), .75
    );
    /* @include box-shadow-rgba(
        0px,
        0px,
        3px,
        0px,
        var(--color3--rgb), 0.8
    ); */

    border-radius: 5px;
    padding: $padding*2;
    padding-top: 0;
}

h1.hero-title > *,
p.header-subtitle > span b {
    @include text-shadow-rgba(
        0px,
        0px,
        3px,
        var(--color3-light--rgb), 0.3
    );

    border-radius: 5px;
    color: var(--color2-dark);
    display: inline-block;
}

h1.hero-title,
p.header-subtitle {
    br {
        display: none;
    }
}

h1.hero-title {
    line-height: 1;
    margin-bottom: $margin*2;
    
    > span {
        font-weight: 100;
        margin-bottom: $margin/2;
    }
    
    b {
        color: var(--color3);
        font-size: 1.5rem;
        font-weight: 100;
    }
}

p.header-subtitle {
    > span > span {
        display: block;
        margin: $margin/2;
        margin-bottom: $margin/4;
    }

    > span > b {
        color: var(--color2-dark);
        display: inline-block;
        margin: $margin/2;
    }
}

.mesmerize-front-page .header-separator path.svg-white-bg {
    fill: var(--color3-light) !important;
    opacity: 0.1;
}

.site > {
    .page-content,
    .content {
        background-color: var(--color1);
    }
}

.content-section-spacing {
    background-color: var(--color1);
    
    &#overlappable-1 {
        background: url(http://tkf.local/wp-content/uploads/2018/03/UofT185_20060611_AlumniGates_003-scr.jpg) no-repeat center center;
        background-attachment: fixed;
        background-color: var(--color1) !important;
        background-size: cover;
        position: relative;

        &::before {
            @include background-color-rgba(
                var(--color3-light--rgb), .3
            )
            content: "";
            display: inline-block;
            left: 0;
            position: absolute;
            height: 100%;
            top: 0;
            width: 100%;
            z-index: 1;
        }

        .gridContainer {
            position: relative;
            z-index: 2;

            .spaced-cols [data-type="column"] {
                @include background-color-rgba(
                    var(--white--rgb), .9
                );
                @include box-shadow-rgba(
                    0px,
                    0px,
                    3px,
                    0px,
                    var(--color1--rgb), 0.75
                );
                /* @include text-shadow-rgba(
                    0px,
                    0px,
                    3px,
                    var(--color2-dark--rgb), 0.8
                ); */
            
                color: var(--color2-dark);
                display: inline-block;
                padding: $padding;

            }
        }

        h5 {
            color: var(--color2-dark);
            font-size: 1.2rem;
        }
    }
}

i.fa.icon.reverse.color,
i.fa.icon.reverse.color1,
.button.white.outline,
.button.color1 {
    @include background-color-rgba(
        var(--color3-light--rgb), .9
    );
    /* @include box-shadow-rgba(
        0px,
        0px,
        3px,
        0px,
        var(--color2-dark--rgb), 0.8
    ); */
    /* @include text-shadow-rgba(
        0px,
        0px,
        3px,
        var(--color2-dark--rgb), 0.8
    ); */

    // background-color: var(--color1);
    border: none;
    color: var(--white);

    &:hover {
        @include box-shadow-rgba(
            0px,
            0px,
            3px,
            0px,
            var(--black--rgb), 0.8
        );
        @include text-shadow-rgba(
            0px,
            0px,
            3px,
            var(--black--rgb), 0.8
        );

        background-color: var(--color1);
        color: var(--color1);
    }
}

.button.color1,
.button.white.outline {
    margin-bottom: 0;
}

.read-more {
    color: var(--color2);
}

#news {
    background-attachment: fixed;
    background-image: url(http://tkf.local/wp-content/uploads/2018/03/UofT14224_20171103_UniversityofTorontoGateSign_001-scr.jpg);
    padding: 0;
    
    > div {
        > div {
            @include background-color-rgba(
                var(--color2--rgb), 0.8
            );
        }

        padding: $padding*2;
    }

    h2,
    .lead {
        color: var(--color1);
    }
}

.footer {
    background-color: var(--color1);
    display: none;
}
