// Intialization
@import '_variables';
@import '_mixins';

/*Header Gradient Overlay*/
/* .header-homepage .background-overlay {
    background: linear-gradient(135deg , rgba(116, 102, 234, 0.8) 0%, rgba(177, 51, 179, 0.8) 100%);
}

.button.color2 {
    color: #fff;
    background-color: #005bb0;
    border-color: #eee;
}
.button.white.outline {
    background: #002a5b;
    color: #fff;
    border-color: #eee;
}

.button.buttond1
{
    color: #fff;
    background-color: #b000ab;
    border-color: #b000ab;
}

.button.buttond2
{
    color: #fff;
    background-color: #2600bf;
    border-color: #2600bf;
}

i.fa.icon.reverse.color1 {
    background-color: #c19434;
}

.button {
    background-color: #c19434;
    border: 2px solid #c19434;
}

.button.color1 {
    color: #fff;
    background-color: #005bb0;
    border-color: #eee;
}

.no-comments {
	display:none;
}

.comments-form {
	display:none;
}

.post-meta .fa-user, 
.post-meta .fa-comment-o {
	display:none;
}

.post-meta a:nth-child(2){
	display:none;
}

.post-meta span:nth-child(8){
	display:none;
}

.footer-contact-boxes, .footer-contact-boxes .footer-bg-accent {
    background-color: #7b7b86;
}
	
.copyright {
	display:none;
}

h1, h1.title, h2, h3, h4, h5, h6 {
    font-family: Muli,sans-serif;
    font-weight: 700;
    color: #3C424F;
    text-rendering: optimizeLegibility;
    margin-bottom: 16px;
}

.single-post .content h1 {
	color: #8f8fb1;
}

body {
	color: #534c69;
}

body.home {
	color: #8E9DAE;
}

a, a:hover {
    color: #0089ff;
    font-weight: bold;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

td a {
	text-decoration-line: none;
}

img.desaturate {
    filter: grayscale(0%);
    opacity: 1;
    transition: 1s all;
}

// contact form
input, select, textarea {
    border: 1px solid #c5c5c5;
}

.gform_wrapper ul.gform_fields li.gfield {
    padding-right: 16px;
    padding-top: 30px;
}

.gform_confirmation_wrapper {
	padding: 20px;
    background: #f0f0f0;
}

// reg form radio button other
#input_21_6_other {
	    display: inline;
}

// Ultimate FAQ
.ufaq-faq-div {
	// background:#f9f9f9;
	background:#eeeeee;
	padding: 10px;
	border:0px solid #ececec;
	margin-top:10px;
	margin-bottom:10px;
}

#day1 .ufaq-faq-div {
	border-left:6px solid #b000ab;
}

#day2 .ufaq-faq-div {
	border-left:6px solid #7c61e7;
}

.ewd-ufaq-post-margin-symbol span {
	padding-top: 5px;
	color:888888;
}

#day1 .ewd-ufaq-post-margin-symbol span {
	color:#b000ab;
}

#day2 .ewd-ufaq-post-margin-symbol span {
	color:#7c61e7;
}

.ewd-ufaq-post-margin {
    padding-top: 20px;
    padding-bottom: 20px;
}

.ufaq-faq-categories {
    margin-top: 20px;
    border-top: 2px solid #dddddd;
    padding-top: 10px;
}

.ufaq-back-to-top {
    padding-top: 20px;
} */

html,
body {
    background-color: var(--gray);
}

body {
    color: var(--green);
    font-family: $font-family;
}

h1,
h1.title,
h2,
h3,
h4,
h5,
.comment-author .fn, h6 {
    font-family: $font-family;
    letter-spacing: normal;
}

h5 {
    font-size: 1.2rem;
}

a {
    @include transition;
}

.button {
    letter-spacing: normal;
}

.header-top-bar {
    background-color: var(--brown);
}

.top-bar-field,
.top-bar-field i.fa,
.top-bar-social-icons a i.fa {
    color: var(--green);
}

.navigation-bar {
    @include transition;

    &.fixto-fixed {
        @include background-color-rgba( var(--gray--rgb), 0.9 );
    }
}

a.text-logo {
    @include text-shadow-rgba(
        1px,
        1px,
        3px,
        var(--green--rgb), 0.8
    );

    color: var(--gray);
    font-size: 1.8rem;
    line-height: 1;

    &:visited,
    &:hover {
        @extend .text-logo;
    }

    &:hover {
        color: var(--brown-light);
    }

    .fixto-fixed & {
        color: var(--green);
        text-shadow: none;
        
        &:visited,
        &:hover {
            @extend .text-logo;
        }
        
        &:hover {
            color: var(--brown-light);
        }
    }
}

ul.dropdown-menu {
    align-items: center;

    li {
        a {
            @include text-shadow-rgba(
                1px,
                1px,
                3px,
                var(--green--rgb), 0.8
            );

            color: var(--white);
            letter-spacing: normal;
            line-height: 1;
            text-transform: initial;
        }
            
        .sub-menu {
            background-color: var(--gray);

            li a {
                color: var(--green);
            }
        }

        &.facebook {
            a {
                font-family: FontAwesome;
                font-size: 0;
            }

            a:before {
                content: "\f230";
                font-size: 2rem;
            }
        }

        &.twitter {
            a {
                font-family: FontAwesome;
                font-size: 0;
            }

            a:before {
                content: "\f081";
                font-size: 2rem;
            }
        }
    }
    
    &.active-line-bottom > li:not(.current-menu-item):not(.current_page_item),
    &.default > li:not(.current-menu-item):not(.current_page_item) {
        &:hover > a {
            color: var(--brown-light);
        }
        
        > a {
            .fixto-fixed & {
                color: var(--green);
            }
        }
        
        &:hover > a {
            .fixto-fixed & {
                color: var(--brown-light);
            }
        }
    }
    
    li a {
        .fixto-fixed & {
            text-shadow: none;
        }
    }
}

h1.hero-title,
p.header-subtitle {
    @include text-shadow-rgba(
        1px,
        1px,
        3px,
        var(--green--rgb), 0.8
    );

    color: var(--gray);
}

.site > {
    .page-content,
    .content {
        background-color: var(--gray);
    }
}

.content-section-spacing {
    background-color: var(--gray);
    
    &#overlappable-1 {
        background-color: var(--gray) !important;

        h5 {
            color: var(--green);
            font-size: 1.2rem;
        }
    }
}

i.fa.icon.reverse.color,
i.fa.icon.reverse.color1,
.button.color-white.outline,
.button.color1 {
    background-color: var(--brown);
    border: none;
    color: var(--green);

    &:hover {
        background-color: var(--green);
        color: var(--brown-light);
    }
}

.logo_col {
    padding: .85rem;
}

.read-more {
    color: var(--green);
}

#news {
    background-attachment: fixed;
    background-image: url(http://tkf.local/wp-content/uploads/2018/03/UofT14224_20171103_UniversityofTorontoGateSign_001-scr.jpg);
    padding: 0;
    
    > div {
        @include background-color-rgba( var(--green--rgb), 0.8 );

        padding: $padding*2;
    }

    h2,
    .lead {
        color: var(--gray);
    }
}

.footer {
    background-color: var(--gray);
    display: none;
}
